.logo {
    height: 25px;
}
label.toggleMenu {
    background-color: #C9C9C9;
    display: none;
    padding: 10px;
    text-align: center;
}
.banner img {
    width: 100%;
}
.top-menu li a {
    font-size: 12px;
}
.container {
    flex-direction: column-reverse;
}
.sidebar {
    width: 100%;
    text-align: center;
}
.sidebar img {
    margin: 10px 5px 10px;
}
.content {
    margin-left: 0;
}
@media all and (max-width: 580px) {
    .hero-banner__p span {
        line-height: 28px;
        color: var(--gsap);
        line-height: 20px;
        opacity: 1;
    }
    .header label.toggleMenu {
        display: block;
    }
    .header li {
        overflow: hidden;
        display: none;
    }
    .header ul {
        display: block;
        text-align: center;
    }
    input.toggleMenu:checked + label.toggleMenu {
        background-color: #000;
        color: #fff;
    }
    input.toggleMenu:checked ~ .top-menu li {
        display: block;
    }
    .banner {
        display: none;
    }
    .sidebar-menu {
        margin-bottom: 5px;
    }
    .sidebar img {
        width: 100%;
        margin:  5px auto;
    }
    .content h2 {
        font-size: 26px;
    }
    .content p {
        font-size: 14px;
    }
    .box-text {
        flex-direction: column;
    /* height: 100px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px; */
    }
    .box-text img {
        margin: 0;
        height: 150px;
    }
    .sidebar__banner img {
        position: absolute;
        right: 10%;
        bottom: 30px;
        width: auto;
    }
    .sidebar__banner h3 {
        left: 45px;
        font-size: 18px;
        color: var(--gsap);
    }

}
@media all and (max-width: 370px) {
    #hero-banner__h2 {
        font-size: 80px;
    }
}