:root {
    --gsap: #88CE02;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 820px;
    padding: 0 10px;
    margin: auto;
}
.header__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    height: 50px;
    width: auto;
    margin: 10px
}

ul.top-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #216980;
    margin: 0;
    padding: 0;
}
.top-menu li a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px;
}
.top-menu li:hover {
    background-color: #153243;
}
.header label.toggleMenu {
    display: none;
}
.header [type="checkbox"]{
    display: none;
}

.banner img {
    margin: auto;
    width: 100%;
}

.hero-banner {
    height: 250px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-banner__wrapper {
    position: relative;
    height: inherit;
    width: inherit;
    overflow: hidden;
}
#hero-banner__h2 {
    position: absolute;
    bottom: 0;
    width: 50%;
    font-size: 120px;
    color: var(--gsap);
    margin: 0 20px;
    z-index: 10;
}
.hero-banner__p {
    position: absolute;
    line-height: 24px;
    margin: 20px 30px;
}
.hero-banner__p span {
    line-height: 28px;
    color: var(--gsap);
    line-height: 60px;
    opacity: 1;
}

#hero-banner__logo {
    position: absolute;
    right: 0;
    bottom: -100%;
    height: 400px;
    width: auto;
}

.container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}


.sidebar {
    min-width: 250px;
    word-wrap: break-word;
}
.sidebar-menu {
    width: 100%;
    margin-left: 20px;
}
.sidebar-menu {
    background-color: #676767;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-menu li {
    border-bottom: 1px solid #4a4a4a;
}
.sidebar-menu li a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}
.sidebar-menu li:hover {
    background-color: #153243;
}
.sidebar__banner {
    position: relative;
    height: 820px;
    max-width: 250;
    background-color: #000;
    margin-top: 20px;
    overflow: hidden;
}
.sidebar__banner img {
    position: absolute;
}
#sidebarGSAP {
    right: 10%;
    top: 90px;
    height: 150px;
    width: auto;
    margin-bottom: 10px;
    z-index: 10;
}
#sidebarWHY {
    right: -55%;
    bottom: 130px;
    height: 290px;
    width: auto;
    margin-bottom: 10px;
    transform: rotateZ(90deg);
    z-index: 10;
}
.sidebar__banner h2 {
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    color: var(--gsap);
    font-size: 54px;
    margin: 0;
    opacity: 1;
}
.sidebar__banner h3 {
    position: absolute;
    left: 25px;
    font-size: 18px;
    color: var(--gsap);
}
#TlL {
    top: 100px;
}
#TlM {
    top: 133px;
}
#TL {
    top: 166px;
}
#TM {
    top: 200px;
}

.content {
    width: 100%;
    margin-left: 20px;
}
.content h2 {
    color: #525252;
}
.content p {
    color: #525252;
    margin: 10px 0;
}
.box-text {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.box-text::after {
    content: "";
    clear: both;
    display: table;
}
.box-text img {
    float: left;
    height: 100px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box-text h3{
    color: #525252;
    margin: 0;
}
.box-text p {
    font-size: 14px;
}
.text h3 {
    color: #525252;
    margin: 0;
}
.text p {
    font-size: 14px;
}
.footer {
    display: flex;
    height: 50px;
    background-color: #153243;
}
.footer p {
    color: #fff;
    margin: auto;
}
